html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-image: url("https://images.pexels.com/photos/16408/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"), linear-gradient(to right, #232526, #414345);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}
.spacing {
  margin: 10px;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.493);
  border: 2px solid white;
  border-radius: 0px 0px 20px 20px;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
  }
}
nav a {
  font-size: 2.6rem;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  font-family: 'Quintessential', cursive;
  color: black;
}
@media (max-width: 500px) {
  nav a {
    font-size: 2rem;
  }
}
footer {
  background-color: rgba(255, 255, 255, 0.493);
  border: 2px solid white;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-around;
}
footer p {
  font-size: 1.6rem;
  margin: 10px;
  padding: 10px;
  font-family: 'Quintessential', cursive;
}
section {
  background-color: rgba(255, 255, 255, 0.493);
  border: 2px solid white;
  color: black;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}
section h1 {
  font-size: 7.5rem;
  font-family: 'Parisienne', cursive;
}
@media (max-width: 500px) {
  section h1 {
    font-size: 5.5rem;
  }
}
section p {
  font-size: 1.8rem;
  font-family: 'EB Garamond', serif;
}
section img {
  width: 375px;
  height: 250px;
}
section .beginning-content {
  margin: 20px;
  padding: 20px;
}
@media (max-width: 500px) {
  section .beginning-content {
    margin: 5px;
    padding: 5px;
  }
}
section .content {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}
@media (max-width: 500px) {
  section .content {
    flex-direction: column;
    margin: 5px;
    padding: 5px;
  }
  section .content h2 {
    margin: 20px;
    padding: 20px;
  }
}
section .content-2 {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
}
@media (max-width: 500px) {
  section .content-2 {
    flex-direction: column-reverse;
  }
  section .content-2 h2 {
    margin: 20px;
    padding: 20px;
  }
}
h2 {
  font-size: 2rem;
  text-align: center;
  font-family: 'Quintessential', cursive;
}
p {
  font-size: 1rem;
  font-family: roboto;
  padding: 20px;
  line-height: 1.4;
  width: 80%;
  text-align: center;
  color: black;
}
.round-content {
  display: flex;
  flex-flow: row;
  padding: 5px;
}
@media (max-width: 500px) {
  .content2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    text-align: center;
  }
  .main-section {
    font-size: 15px;
    text-align: center;
  }
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("https://images.pexels.com/photos/16408/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"), linear-gradient(to right, #232526, #414345);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  font-family: 'Quintessential', cursive;
}
.container2 {
  max-width: 800px;
  height: 600px;
  background: #fff;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
  box-sizing: border-box;
  padding: 40px;
}
p {
  text-align: center;
  letter-spacing: 1px;
  font-size: 45px;
  margin-bottom: 20px;
  color: black;
}
.input,
.msg .area {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}
.login .input {
  width: 48%;
  float: left;
  margin-right: 4%;
}
.login .input:last-child {
  margin-right: 0;
}
.msg .area {
  height: 200px;
}
.btn {
  width: 250px;
  background: #e5e9e9;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.input:focus,
.msg .area:focus {
  border: 2px solid #486255;
}
::-webkit-input-placeholder {
  font-family: 'Quintessential', cursive;
}
@media (max-width: 500px) {
  .login {
    font-size: 15px;
  }
  .container2 p {
    text-align: center;
    width: 48%;
  }
  .msg {
    width: 48%;
  }
  .subject {
    width: 48%;
  }
}
.event {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .event {
    flex-direction: column;
  }
}
.event .container3 {
  background-color: rgba(255, 255, 255, 0.493);
  border: 2px solid white;
  color: black;
  border-radius: 20px;
  text-align: center;
  padding: 80px;
}
@media (max-width: 500px) {
  .event .container3 {
    padding: 0px;
    margin: 20px;
  }
}
.event .log-in {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}
@media (max-width: 500px) {
  .event .log-in {
    margin: 5px;
    padding: 5px;
  }
}
.event .log-in input {
  margin: 10px;
  padding: 10px;
}
@media (max-width: 500px) {
  .event .log-in input {
    margin: 5px;
    padding: 5px;
  }
}
