html {
    font-size: 62.5%;
}

body {
    background-image: url("https://images.pexels.com/photos/16408/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"), linear-gradient(to right, #232526, #414345);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.spacing {
    .min-spacing();
}