section {
    background-color: rgba(255, 255, 255, 0.493);
    border: 2px solid white;
    color: black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;

    h1 {
        font-size: 7.5rem;
        font-family: @font-1;

        @media @mobile {
            font-size: 5.5rem;
        }
    }

    p {
        font-size: 1.8rem;
        font-family: @font-3;
    }

    img {
        width: 375px;
        height: 250px;
    }

    .beginning-content {
        .max-spacing();

        @media @mobile {
            .media-spacing();
        }
    }

    .content {
        .flex();
        .max-spacing();

        @media @mobile {
            flex-direction: column;
            .media-spacing;

            h2 {
                .max-spacing();
            }
        }
    }
    

    .content-2 {
        .flex();
        .max-spacing();

        @media @mobile {
            flex-direction: column-reverse;

            h2 {
                .max-spacing();
            }
        }
    }
}