body {
	background-image: url(https://www.flightcentre.com.au/cms_images/web_images/experts/news/networking-1.jpg),
		linear-gradient(to right, #232526, #414345);
	background-size: 100%;
	background-repeat: no-repeat;
}

h2 {
	font-size: 2rem;
	text-align: center;
	font-family: 'Quintessential', cursive;
}

p {
	font-size: 1.0rem;
	font-family: roboto;
	padding: 20px;
	line-height: 1.4;
	width: 80%;
	text-align: center;
	margin: 40px;
	color: purple;
}
.round-content {
	display: flex;
	flex-flow: row;
	padding: 5px;
}
